$service-section-item-xs-width: 12;
$service-section-item-sm-width: 6;
$service-section-item-md-width: 4;
$service-section-item-lg-width: 4;
$service-section-item-margin-bottom: 50px;
$service-section-item-margin-bottom-on-mobile: 60px;
$service-section-item-icon-position-on-ssmall-mobile: 30px;
$service-section-item-icon-height: 40px;
$service-section-item-content-color: white;
$service-section-item-content-width-on-mobile: 9;
$service-section-item-content-title-font-family: Lato-Regular;
$service-section-item-content-description-font-family: Lato-Light;
$service-section-item-content-title-font-size: 1.5em;
$service-section-item-content-margin-beetwen-title-and-description: 5px;
$service-section-item-content-mobile-selector: "2n";
$service-section-item-content-float-on-mobile: right;

.service {
    @include make-xs-col($service-section-item-xs-width);
    @include make-sm-col($service-section-item-sm-width);
    @include make-md-col($service-section-item-md-width);
    @include make-lg-col($service-section-item-lg-width);

    display: flex;
    flex-direction: column;
    margin-bottom: $service-section-item-margin-bottom;

    .service-icon {
        position: absolute;
        left: 20px;
        top: calc(50% - 30px);
        width: $service-section-item-icon-height;   
        height: $service-section-item-icon-height;   
    }

    .service-content {
        margin-left: 80px;
        padding-right: 30px;
        color: $service-section-item-content-color;
        
        .service-title {
            font-family: $service-section-item-content-title-font-family;
            font-size: $service-section-item-content-title-font-size;
            margin-bottom: $service-section-item-content-margin-beetwen-title-and-description;
        }

        .service-description {
            font-family: $service-section-item-content-description-font-family;
            font-size: 1.2em;
            line-height: 1.3em;
        }
    }
}

@media (max-width: 767px) {
    .service {
        margin-bottom: $service-section-item-margin-bottom-on-mobile;

        &:last-child {
            margin-bottom: 15px;
        }

        .service-content {
            @include make-xs-col($service-section-item-content-width-on-mobile);
        }
    }

    .service:nth-child(#{unquote($service-section-item-content-mobile-selector)}) {
        .service-icon {
            left: auto;
            right: 30px;
        }

        .service-content {
            margin-left: 40px;
            padding-right: 40px;
        }
    }

    .service .service-content {
        font-size: 0.9em;
    }
}

@media (max-width: 400px) {
    .service:nth-child(#{unquote($service-section-item-content-mobile-selector)}) {
        .service-content {
            margin-left: 0px;
            padding-right: 20px;
        }
    }
}
