#realizations-section {
    padding-top: 50px;
    padding-bottom: 40px;

    @import "partials/header";

    .section-header {
        margin-bottom: 5px;
    }

    .click-to-see-more-subtitle {
        display: block;
        width: 100%;
        margin-bottom: 50px;
        color: #4b2778;
        font-size: medium;
        font-family: Lato-Regular;
        text-align: center;
    }

    .realizations {
        display: block;
        width: 80%;
        margin: 0 auto;

        list-style-type: none;
        padding-left: 0;

        @import "partials/realization";
    }
}
