#realizacje {
    padding-top: 70px;
    padding-bottom: 80px;
    background: whitesmoke;

    @import "partials/header";
    @import "partials/subtitle";

    .realizations {
        display: block;
        width: 80%;
        margin: 0 auto;

        list-style-type: none;
        padding-left: 0;

        @import "partials/realization";
        
        @media (max-width: 550px) {
            width: 90%;
        }
    }
}
