

.realization {
    position: relative;
    float: left;
    width: calc(20% - 10px);
    margin: 5px;
    transition: transform 0.4s;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;

    @media (max-width: 1000px) and (min-width: 701px) {
        width: calc((100% / 4) - 10px);

        &:last-child, &:nth-last-child(2) {
            display: none;
        }
    }

    @media (max-width: 700px) and (min-width: 551px) {
        width: calc((100% / 3) - 10px);

        &:nth-last-child(2) {
            display: none;
        }
    }

    @media (max-width: 550px) and (min-width: 300px) {
        display: none;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            display: inline-block;
            width: calc((100% / 2) - 10px);   
        }
    }

    @media (max-width: 300px) {
        display: none;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            display: inline-block;
            width: 100%;
            margin: 5px 0;    
        }
    }


    &:before { // make square
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        
        transition: opacity .3s;
        transition-delay: opacity .5s;

        animation: rotation-animation 1.1s infinite linear;
        animation-iteration-count: 2;
        opacity: 0;

        box-sizing: border-box;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.3);
        border-top: 5px solid white;
    }

    &.loading {
        &::after {
            opacity: 1;
            animation-iteration-count: infinite;
        }
    }

    &.shown .cover {
        opacity: 1;
    }

    .cover {
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover {
        transition: transform 0.3s;
        transform: scale(0.95);
    }

    &:active {
        transition: transform 0.2s;
        transform: scale(0.90);
    }

    @keyframes rotation-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
