$contact-section-item-size: 60px;
$contact-section-item-margin: 15px;
$contact-section-item-background: transparentize($color: black, $amount: 0.8);
$contact-section-item-background-on-hover: transparentize($color: black, $amount: 0.7);
$contact-section-item-icon-size: 60%;
$contact-section-item-icon-size-on-hover: 70%;
$contact-section-item-transform-on-click: 0.95;

.contacts {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    list-style-type: none;

    .item {
        position: relative;
        display: inline-block;
        margin: $contact-section-item-margin;
        transition: transform 0.3s;
        border-radius: 50%;

        .contact {
            position: relative;
            display: block;
            width: $contact-section-item-size;
            height: $contact-section-item-size;
            border-radius: 50%;
            overflow: hidden;
            background: $contact-section-item-background;
            transition: background 0.3s, transform 0.3s;

            // background image
            .contain {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60%;
                height: 60%;
                transition: transform 0.3s;
            }
        }

        .tooltip {
            position: absolute;
            display: block;
            left: 50%;
            top: 100%;
            padding: 15px 25px;
            transform: translateX(-50%);
            border-radius: 25px;
            background: whitesmoke;
            color: black;
            white-space: nowrap;
            font-family: Lato-Medium;
            text-decoration: none;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s;

            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: calc(50% - 7.5px);
                width: 16px;
                height: 16px;
                transform: rotate(45deg);
                background: whitesmoke;
            }
        }

        &:hover {
            border-bottom-left-radius: initial;
            border-bottom-right-radius: initial;

            .tooltip {
                opacity: 1;
                pointer-events: visible;
            }

            .contact {
                background: $contact-section-item-background-on-hover;
                transform: scale(1.2);

                .contain {
                    transform: translate(-50%, -50%) scale(0.8);
                }
            }
        }
        
        &:active {
            transform: scale($contact-section-item-transform-on-click);
        }

        @media (max-width: 550px) {
            margin: $contact-section-item-margin - 5px;
            
            .contact {
                width: $contact-section-item-size - 10px;
                height: $contact-section-item-size - 10px;
            }

            .tooltip {
                display: none;
            }
        }
    }
}
