$about-section-padding-top: 80px;
$about-section-padding-bottom: 100px;

#o-nas {
    @import "partials/header";
    @import "partials/description";

    padding-top: $about-section-padding-top;
    padding-bottom: $about-section-padding-bottom;
}
