

@mixin create-button-style($id)
{
    button##{$id}
    {
        background-position: center;
        background-attachment: static;
        background-repeat: no-repeat;
        background-image: url("Content/buttons/" + "#{$id}" + ".png");
        background-size: 60%;

        border-radius: 50%;
        border: none;
        width: 70px;
        height: 70px;
        border-radius: none;
        background-color: #ac104f; 
        outline: none !important;   
        margin: 4px;
        transition: all 0.3s;

        &:hover
        {
            background-color: #e25b91; 
            transition: all 0.3s;
        }

        &:active
        {
            transform: scale(0.95);
            transition: all 0.3s;
        }

        &:focus
        {
            background-color: #e25b91; 
            transition: all 0.3s;
        }
    }

}
