@mixin create-section(
    $id, $font, $background-color, 
    $header-color, $standard-color, $accent-color, 
    $section-height, $section-max-height)
{
     section##{$id}
     {
         background-color: $background-color;
        width: 100%;
        overflow: hidden;
        color: $standard-color;
        position: relative;

        @if $font != null
        {
            font-family: $font;
        }

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @if $section-height != null
        {
            min-height: $section-height;
        }

        @if $section-max-height != null
        {
            max-height: $section-max-height;
        }

        .font-accent
        {
            color: $accent-color;
        }

        .border-accent
        {
            border-color: $accent-color;
        }

        .background-accent
        {
            background-color: $accent-color;
        }

        h1
        {
            color: $header-color;
        }

        p
        {
            margin:30px;
        }

        @content;
     }
}

@mixin create-section-with-bgimage(
    $id, $font, $background-color, $header-color, 
    $standard-color, $accent-color, $section-height, 
    $section-max-height, $image-src, $image-width, $correction-value)
{
    @include create-section($id, $font, $background-color, $header-color, $standard-color, $accent-color, $section-height, $section-max-height)
    {
        background-image: url($image-src);
        background-repeat: no-repeat;
        background-attachment: static;
        background-position: center; 
        background-size: 100% auto;

        
        @media screen and (max-width: ($image-width / 2 + $correction-value))
        {
            background-size: auto 100%;
        }
    }   
}