@mixin create-section-triangle-style($name, $color, $sharpen-level, $height)
{
    .#{$name}-triangle
    {
        position: relative;

        &:before{
            border-right-width: $sharpen-level;
            border-left-width: 0;
            border-color: transparent;
            left: 0;
        }

        &:after
        {
            border-left-width: $sharpen-level;
            border-right-width: 0;
            right:0;
            border-color: transparent;
        }

        &:before, 
        &:after{
            content: '';
            position: absolute;
            border-bottom: $height solid $color;
            height: 0;
            width: 50%;
            bottom: 0;
            border-style: solid;
            z-index: 2;
        }

    }
}