@import 'bootstrap.min';
@import 'section-triangle';
@import 'section';

.container-fluid
{
    max-width:100%;
    margin: 0px;
    padding: 0px;
}

@include create-section-triangle-style(page-header, #fafafa, 35px, 50px);
@include create-section(what-we-do, #fafafa, #c54c82, #111111,white, 400px, 50vh);
@include create-section(services, #93278f, white, white, #fbb03b, 550px, 50vh);
@include create-section(realization, #fafafa, #4b2778, white, white, 550px, 50vh);
@include create-section(contact, #c92d6b, white,white, #ac104f, 350px, 50vh);