@mixin thumbnail($name, $style)
{
    .#{$name}
    {
        display: block;
        position: relative;
	    width: 100%;		/* desired width */
        @if $style == vertical
        {
            background-size: 100% auto;

            &:hover
            {
                background-size: 105% auto;
            }
        }
        @else if $style == horizontal
        {
            background-size: auto 100%;

            &:hover
            {
                background-size: auto 105%;
            }
        }
        @else 
        {
            background-size: 100% 100%;

            &:hover
            {
                background-size: 105% 105%;
            }
        }

        transition: all 0.1s;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: static;
        background-color: rgba(43,43,43,0);
        background-blend-mode: saturation;

        &::before
        {
            content: "";
            display: block;
            padding-top: 100%; 	/* initial ratio of 1:1*/
        }

        &:hover
        {
            transition: all 0.3s;
            background-color: rgba(43,43,43,0.4);
        }
    }

}

