.popover
{
    background: #e25b91;
    border-radius: 0px;
    border-color: #e25b91;
    top: 10px !important;
}

.popover-content {
    background-color: #e25b91;
    color: #FFFFFF;
    font-size: 15px;
    padding: 15px;
    border-radius: 0px;
    font-size: 17px;
}

.popover.bs-tether-element-attached-top::after, .popover.popover-bottom::after {
  border-bottom-color: #e25b91; }

  .popover.bs-tether-element-attached-top::before, .popover.popover-bottom::before {
  border-bottom-color: #e25b91; }
  